# Ignore todos os arquivos zip
*.zip

# Ignore a pasta Pycache
__pycache__

#Ignore arquivos .pyc
*.pyc

# Ignore todos os arquivos CSV
*.CSV
*.csv

# Ignore todos os arquivos zip
*.rar

# Ignore o arquivo desktop.ini
*.ini

# Ignore arquivos google sheets
*.gsheet

Bases/Base_atualizada/