# Ignore todos os arquivos zip
Bases01-2023.zip
Bases03-2023.zip
Bases12-2022.zip
Bases_EMPRESAS_01-2023.zip
19-4-2023_Bases_EMPRESAS.zip
Bases_EMPRESAS_10-2022.zip
# Ignore a pasta Pycache
__pycache__

#Ignore arquivos .pyc
*.pyc

# Ignore todos os arquivos CSV
*.CSV
*.csv

# Ignore o arquivo desktop.ini
*.ini

# Ignore arquivos google sheets
*.gsheet

Bases/Base_atualizada/
*/.ipynb_checkpoints
.venv
*/RAW